/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2022, 7:04:41 AM
    Author     : PC
*/
form{
    text-align: center;
}

h1{
    text-align: center;

}

.information input{
    height: 30px;
    width: 280px;
    margin-left: 20px;
    margin-bottom: 10px;
    
}

.information{
   margin-top: 50px; 
}


